.page_comp_list {
  width: 100%;

  .list_item {
    background-color: #fff;
    cursor: pointer;
  }

  .active_list_item {
    outline: 1px solid #2970f6;
    ;
  }

  .page_comp {
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #f0f0f0;

    .age_comp_item {
      width: 100%;
      border-bottom: 1px solid #f0f0f0;
      padding: 8px 16px;
      display: flex;
      justify-content: space-between;

      .item_left {
        width: 90px;
      }

      .item_right {
        display: flex;
        align-items: center;
      }
    }

    &:last-child {
      border-bottom: none
    }
  }
}