.swiper_cont {
  padding: 0 10px;

  .add_swiper_btn {
    display: flex;
  }

  .swiper_list {
    margin-top: 10px;

    .img_cont {
      position: relative;
      width: 100px;

      .img_change {
        cursor: pointer;
        background-color: rgb(0, 0, 0, 0.4);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 25px;
        line-height: 25px;
        text-align: center;
        color: #fff;
      }

      .img_upload {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        height: 25px;
        line-height: 25px;
      }
    }
  }

}