#center_core {
    position: relative;
    flex: 1;
    overflow: hidden;

    .core {
        position: absolute;
        background-color: #fff;
        width: 320px;

        .add_height {
            border-top: 1px solid #eee;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 320px;
            height: 16px;
            background: #fff;
            cursor: ns-resize;
        }

        .assist {
            position: absolute;
            right: -45px;
            padding-left: 10px;
            top: 699px;
            border-top: 1px dashed #3a71ee;
            color: #3a71ee;
            font-size: 12px;
        }

        .assist_1 {
            right: -45px;
            top: 665px;
        }

        .assist_2 {
            right: -45px;
            top: 570px;
        }
    }
}