#center_core {
    position: relative;
    flex: 1;
    overflow: hidden;

    .core {
        position: relative;
        background-color: #fff;
        width: 320px;

        .add_height {
            position: absolute;
            width: 320px;
            height: 10px;
            background: #000;
            cursor: ns-resize;
        }
    }
}