.comp_style {
  padding: 0 10px;
  .layout_item {
    cursor: pointer;
    margin: 0 2px;
    padding: 6px;
    font-size: 110%;

    &:hover {
      background-color: #eee;
    }
  }

  .border_cont {
    display: flex;
    align-items: center;



    .color_picker {
      margin-left: 5px;
    }
  }

}